<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.list.BreedsActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />

        <activity
            android:name=".ui.search.BreedsSearchActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />

        <activity
            android:name=".ui.details.BreedsDetailActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            />

    </application>
</manifest>